In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

from acquire import get_zillow_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20394 entries, 0 to 20393
Data columns (total 78 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            20394 non-null  int64
 1   parcelid                      20394 non-null  int64
 2   airconditioningtypeid         6512 non-null   float64
 3   architecturalstyletypeid      49 non-null     float64
 4   basementsqft                  11 non-null     float64
 5   bathroomcnt                   20394 non-null  float64
 6   bedroomcnt                    20394 non-null  float64
 7   buildingclasstypeid           0 non-null      object
 8   buildingqualitytypeid         12641 non-null  float64
 9   calculatedbathnbr             20310 non-null  float64
 10  decktypeid                    175 non-null    float64
 11  finishedfloor1squarefeet      1673 non-null   float64
 12  calculatedfinishedsquarefeet  20341 non-null  float64
 13  finishedsquarefeet12          20282 non-null  float64
 14  finishedsquarefeet13          12 non-null     float64
 15  finishedsquarefeet15          3 non-null      float64
 16  finishedsquarefeet50          1673 non-null   float64
 17  finishedsquarefeet6           44 non-null     float64
 18  fips                          20394 non-null  float64
 19  fireplacecnt                  2378 non-null   float64
 20  fullbathcnt                   20310 non-null  float64
 21  garagecarcnt                  7222 non-null   float64
 22  garagetotalsqft               7222 non-null   float64
 23  hashottuborspa                480 non-null    float64
 24  heatingorsystemtypeid         13096 non-null  float64
 25  latitude                      20394 non-null  float64
 26  longitude                     20394 non-null  float64
 27  lotsizesquarefeet             18131 non-null  float64
 28  poolcnt                       4553 non-null   float64
 29  poolsizesum                   269 non-null    float64
 30  pooltypeid10                  138 non-null    float64
 31  pooltypeid2                   342 non-null    float64
 32  pooltypeid7                   4209 non-null   float64
 33  propertycountylandusecode     20394 non-null  object
 34  propertylandusetypeid         20394 non-null  float64
 35  propertyzoningdesc            12781 non-null  object
 36  rawcensustractandblock        20394 non-null  float64
 37  regionidcity                  20028 non-null  float64
 38  regionidcounty                20394 non-null  float64
 39  regionidneighborhood          8035 non-null   float64
 40  regionidzip                   20380 non-null  float64
 41  roomcnt                       20394 non-null  float64
 42  storytypeid                   11 non-null     float64
 43  threequarterbathnbr           2931 non-null   float64
 44  typeconstructiontypeid        51 non-null     float64
 45  unitcnt                       12752 non-null  float64
 46  yardbuildingsqft17            692 non-null    float64
 47  yardbuildingsqft26            23 non-null     float64
 48  yearbuilt                     20325 non-null  float64
 49  numberofstories               4894 non-null   float64
 50  fireplaceflag                 43 non-null     float64
 51  structuretaxvaluedollarcnt    20361 non-null  float64
 52  taxvaluedollarcnt             20394 non-null  float64
 53  assessmentyear                20394 non-null  float64
 54  landtaxvaluedollarcnt         20394 non-null  float64
 55  taxamount                     20393 non-null  float64
 56  taxdelinquencyflag            666 non-null    object
 57  taxdelinquencyyear            666 non-null    float64
 58  censustractandblock           20316 non-null  float64
 59  airconditioningtypeid         6512 non-null   float64
 60  airconditioningdesc           6512 non-null   object
 61  architecturalstyletypeid      49 non-null     float64
 62  architecturalstyledesc        49 non-null     object
 63  heatingorsystemtypeid         13096 non-null  float64
 64  heatingorsystemdesc           13096 non-null  object
 65  propertylandusetypeid         20394 non-null  int64
 66  propertylandusedesc           20394 non-null  object
 67  id                            20394 non-null  int64
 68  parcelid                      20394 non-null  int64
 69  logerror                      20394 non-null  float64
 70  transactiondate               20394 non-null  object
 71  buildingclasstypeid           0 non-null      object
 72  buildingclassdesc             0 non-null      object
 73  storytypeid                   11 non-null     float64
 74  storydesc                     11 non-null     object
 75  typeconstructiontypeid        51 non-null     float64
 76  typeconstructiondesc          51 non-null     object
 77  parcelid                      20394 non-null  int64
dtypes: float64(59), int64(6), object(13)
memory usage: 12.1+ MB

In [8]:
df= get_zillow_data()
df.head()

,Unnamed: 0,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,parcelid.1,logerror,transactiondate,buildingclasstypeid.1,buildingclassdesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc,parcelid.2
0,0,2061546,11289917,1.0,NaN,NaN,2.0,3.0,NaN,6.0,...,11289917,-0.362001,2017-06-23,NaN,NaN,NaN,NaN,NaN,NaN,11289917
1,1,1834372,11705026,NaN,NaN,NaN,1.0,2.0,NaN,6.0,...,11705026,-0.146056,2017-06-30,NaN,NaN,NaN,NaN,NaN,NaN,11705026
2,2,1923117,14269464,NaN,NaN,NaN,3.0,4.0,NaN,NaN,...,14269464,0.021085,2017-06-01,NaN,NaN,NaN,NaN,NaN,NaN,14269464
3,3,2121349,11389003,NaN,NaN,NaN,2.0,3.0,NaN,6.0,...,11389003,-0.325393,2017-06-01,NaN,NaN,NaN,NaN,NaN,NaN,11389003
4,4,2093710,11967869,NaN,NaN,NaN,1.0,2.0,NaN,5.0,...,11967869,-0.005566,2017-06-29,NaN,NaN,NaN,NaN,NaN,NaN,11967869

In [51]:
# Let's figure out how much data is missing where
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = num_missing / rows
    cols_missing = pd.DataFrame({'number_missing_rows': num_missing, 'percent_rows_missing': pct_missing})
    return cols_missing

In [15]:
def prepare_zillow():
    '''
    This function acquires and prepares the Zillow property values data.
    Returns df, train, validate, test, X_train, X_validate, X_test, y_train, y_validate, y_test.
    Takes no arguments.
    '''
    df = get_zillow_data()

    # Drop features to create an MVP (first iteration)
    df = df.drop(columns=['Unnamed: 0','calculatedbathnbr', 'fips', 'latitude', 'longitude', 'regionidcounty', 'roomcnt', 'yearbuilt', 'assessmentyear', 'propertycountylandusecode', 'propertylandusetypeid', 'parcelid.2','parcelid.1'])
    # Drop rows with NaNs
    df = df.dropna()

    #Split the data
    #train_validate, test = train_test_split(df, test_size=.3, random_state=42)
    #train, validate = train_test_split(train_validate, test_size=.4, random_state=42)

    #X_train = train.drop(columns='taxvaluedollarcnt')
    #X_validate = validate.drop(columns='taxvaluedollarcnt')
    #X_test = test.drop(columns='taxvaluedollarcnt')

    #y_train = train['taxvaluedollarcnt']
    #y_validate = validate['taxvaluedollarcnt']
    #y_test = test['taxvaluedollarcnt']

    return df #train, validate, test, X_train, X_validate, X_test, y_train, y_validate, y_test

In [84]:
def clean_zillow(cached=True):
   
    
    # use my aquire function to read data into a df from a csv file
    df = get_zillow_data()
    # drop duplicates
    df.drop_duplicates(inplace=True)
    # drop duplicate columns and remove columns with more than 50% nulls
    df = df.drop(columns=['heatingorsystemtypeid','taxdelinquencyflag','taxdelinquencyyear','yardbuildingsqft17','finishedsquarefeet50','finishedfloor1squarefeet','fireplacecnt','threequarterbathnbr','pooltypeid7','poolcnt','numberofstories','airconditioningdesc','garagetotalsqft','garagecarcnt','regionidneighborhood','hashottuborspa','pooltypeid2','poolsizesum','pooltypeid10','typeconstructiontypeid','typeconstructiondesc','architecturalstyledesc','finishedsquarefeet6','fireplaceflag','yardbuildingsqft26','finishedsquarefeet13','storytypeid','storydesc','basementsqft','finishedsquarefeet15','buildingclassdesc','architecturalstyletypeid','airconditioningtypeid','buildingclasstypeid','buildingqualitytypeid','decktypeid','architecturalstyletypeid.1','airconditioningtypeid.1','heatingorsystemtypeid.1','propertylandusetypeid.1','buildingclasstypeid.1', 'storytypeid.1', 'typeconstructiontypeid.1','id.1','Unnamed: 0','calculatedbathnbr', 'fips', 'latitude', 'longitude', 'regionidcounty', 'roomcnt', 'yearbuilt', 'assessmentyear', 'propertycountylandusecode', 'propertylandusetypeid', 'parcelid.2','parcelid.1'])
    # Drop rows with NaNs
    return df

In [81]:
df=clean_zillow()

In [82]:
df.head()

,id,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,finishedsquarefeet12,fullbathcnt,lotsizesquarefeet,propertyzoningdesc,rawcensustractandblock,...,unitcnt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,heatingorsystemdesc,propertylandusedesc,logerror,transactiondate
0,2061546,11289917,2.0,3.0,1458.0,1458.0,2.0,8284.0,LRR6000*,6.037901e+07,...,1.0,108890.0,136104.0,27214.0,2319.90,6.037901e+13,Central,Single Family Residential,-0.362001,2017-06-23
1,1834372,11705026,1.0,2.0,1421.0,1421.0,1.0,6707.0,LAR1,6.037232e+07,...,1.0,11982.0,35606.0,23624.0,543.69,6.037232e+13,Central,Single Family Residential,-0.146056,2017-06-30
2,1923117,14269464,3.0,4.0,2541.0,2541.0,3.0,4975.0,NaN,6.059064e+07,...,NaN,434887.0,880456.0,445569.0,9819.72,6.059064e+13,NaN,Single Family Residential,0.021085,2017-06-01
3,2121349,11389003,2.0,3.0,1650.0,1650.0,2.0,7300.0,LCR1YY,6.037703e+07,...,1.0,165000.0,614000.0,449000.0,7673.19,6.037703e+13,Central,Single Family Residential,-0.325393,2017-06-01
4,2093710,11967869,1.0,2.0,693.0,693.0,1.0,2908.0,LAR1,6.037185e+07,...,1.0,82416.0,274237.0,191821.0,3267.47,6.037185e+13,Floor/Wall,Single Family Residential,-0.005566,2017-06-29

In [83]:
nulls_by_column = nulls_by_col(df)
nulls_by_column.sort_values(by="percent_rows_missing", ascending=False, inplace=True)
nulls_by_column

                              number_missing_rows  percent_rows_missing
unitcnt                                      7642              0.374718
propertyzoningdesc                           7613              0.373296
heatingorsystemdesc                          7298              0.357850
lotsizesquarefeet                            2263              0.110964
regionidcity                                  366              0.017946
finishedsquarefeet12                          112              0.005492
fullbathcnt                                    84              0.004119
censustractandblock                            78              0.003825
calculatedfinishedsquarefeet                   53              0.002599
structuretaxvaluedollarcnt                     33              0.001618
regionidzip                                    14              0.000686
taxamount                                       1              0.000049
landtaxvaluedollarcnt                           0              0.000000
logerror                                        0              0.000000
propertylandusedesc                             0              0.000000
id                                              0              0.000000
taxvaluedollarcnt                               0              0.000000
parcelid                                        0              0.000000
rawcensustractandblock                          0              0.000000
bedroomcnt                                      0              0.000000
bathroomcnt                                     0              0.000000
transactiondate                                 0              0.000000